.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: #dec5c5;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header h1 {
  font-size: 1.2rem;
  color: #3e2723;
}

.header button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

body, .app-root {
  padding-bottom: 60px; /* sa është lartësia e footer-it */
}

