.product-grid {
  display: grid;
  width: 100%;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 55px;
  gap: 0; 

  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
