.card {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--card-bg);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
.info p {
  color: var(--accent-color);
}

.product-card {
  background-color: var(--card-color);
  color: var(--text-color);
  border-radius: 12px;
  padding: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
