.card {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--card-bg);
  color: var(--text-color);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  position: relative; 
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card:active {
  transform: scale(0.97);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.info p {
  color: var(--p-color);
  font-weight: 900;
}

.product-card {
  background-color: var(--card-color);
  color: var(--text-color);
  border-radius: 12px;
  padding: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.vertical-price {
  position: absolute;
  top: 30px;
  right: 25px;
  font-weight: 900;
  color: var(--p-color);
  transform: rotate(270deg);
  transform-origin: top right;
  font-size: 0.9rem;
}
